@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');

:lang(zh-Hant), :lang(zh-TW), :lang(zh-HK) {
	font-family: "Domine", "Noto Serif KR", "Noto Serif TC", serif;
}
:lang(zh-Hans), :lang(zh-CN) {
	font-family: "Domine", "Noto Serif SC", serif;
}
:lang(en) {
	font-family: "Domine", serif;
}

:lang(en-x-code) {
	font-family: "Inconsolata", monospace, "Noto Serif KR", "Noto Serif TC", serif;
}